<ul class="nav nav-tabs">
  <li class="nav-item">
    <a
      class="nav-link"
      [routerLinkActive]="['active']"
      routerLink="/dashboard"
      >Dashboard</a
    >
  </li>

  <li class="nav-item">
    <a
      class="nav-link"
      [routerLinkActive]="['active']"
      routerLink="/counter"
      >Dumb Counter</a
    >
  </li>
  <li class="nav-item">
    <a
      class="nav-link"
      [routerLinkActive]="['active']"
      routerLink="/redux-counter"
      >Redux Counter</a
    >
  </li>
</ul>
