<ul class="nav nav-pills flex-column">
  <li class="nav-item">
    <a
      class="nav-link"
      [routerLinkActive]="['active']"
      routerLink="overview"
      >Overview</a
    >
  </li>
  <li class="nav-item">
    <a
      class="nav-link"
      [routerLinkActive]="['active']"
      routerLink="list"
      >Song List</a
    >
  </li>
  <li class="nav-item">
    <a
      class="nav-link"
      [routerLinkActive]="['active']"
      routerLink="entry"
      >Add A New Song</a
    >
  </li>
</ul>
